/*Contenido*/
h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: justify;
    margin: 2% 0% 0% 2%;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 20px;
}

ol, p{
    padding-right: 30%;
    text-align: justify;
    padding-top: 1%;
}

ol{
    padding-left: 3%;
}

p{
    padding-left: 2%;
}

table, th, td{
    margin: 2%;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px 6px;
}
