/*Contenedor de fotos*/
.contenedor{
    width: 100%;
    display: flex;
}

/*Cuadro "Ajusta tu búsqueda"*/
.izquierda{
    width: 25%;
    padding: 2%;
    margin: 3% 3% 30% 3%;
    border: 2px solid rgb(0,0,0);
    border-radius: 5%; 
    float: left;
    background-image: url(../images/fondomármol.PNG);
}

.pestaña{
    list-style: none; 
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 10% 2%;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:rgb(0, 0, 0);
}

/*Galería de fotos*/
.derecha{
    width: 80%;
    padding: 3% 3% 3% 9.5%;
}

.foto{
    width: 40%;
    border-radius: 5%;
    margin: 3% 3% 3% 3%;
}
